[2015-02-11 22:44] cgiovando opened #1 "Improve help documentation of HOT Export Tool features on Homepage"
**Proposed by:** Mhairi O'Hara
**Summary:** The HOT Exports home page provides some help information on how to get started, but new users could really benefit and get mapping a lot quicker if there was more detailed information, that is clear, direct and extremely easy to follow step by step.
**Skills Required:** Attention to detail, Organised, Good written English
**Possible Mentors:** Mhairi O'H

[2015-02-11 23:00] cgiovando opened #2 "Usability Testing for the HOT Tasking Manager User Interface (UI)"
**Proposed by:** Mhairi O'Hara

**Summary:** Enhancements are currently being made to the Tasking Manager interface. Once these changes are made, usability testing will be required to determine how easy it is to use the online tool based on the sites flow, navigation, layout, speed and content.

Major points to keep in mind when testing usability:
- Learnability: How easy is it for users to accomp

[2015-02-12 01:33] cgiovando opened #3 "Promote OpenAerialMap to other Communities"
**Proposed by:** Cristiano Giovando (@cgiovando)
**Summary:** OpenAerialMap is an open source platform offering a simple way to host and provide access to aerial imagery. Its purpose within HOT is to facilitate sharing of aerial imagery after a disaster for humanitarian response mapping. The goal of this project is to promote OAM to other communities of potential users outside of HOT. This will be

[2015-02-12 01:39] cgiovando opened #4 "Improve LearnOSM documentation (content, site, structure)"
**Proposed by:** Althio
**Summary:**
**Skills Required:**  depending on actual project, web design, GitHub/Jekyll or similar, computer-aided translation [CAT], documentation writing.
**Possible Mentors:** someone in the LearnOSM team?
**Notes:**  Some suggestions:
- Review implementation / internal structure with Jekyll
- Jekyll plugins (Table of contents, navigation, glossary, epub/pdf…)
- Struct

[2015-02-12 02:38] cgiovando opened #5 "reate 3 Short OSM/HOT Moodle Courses: Road Mapping, Waterway Mapping, Dense Urban Mapping"
**Proposed by:** Blake Girardot (@bgirardot)
**Summary:** The goal of this project is to create and deploy 3 self-paced, short courses focused on learning to map 3 specific OSM features correctly according to HOT guidelines. The courses will consist of video and text content, with student evaluation modules and will award OpenBadges for each specific skill learned at the completion of a course. Th

[2015-02-12 03:03] cgiovando opened #6 "Develop a QGIS plugin for OpenAerialMap"
**Proposed by:** Cristiano Giovando (@cgiovando)
**Summary:** the goal of this project is to create a QGIS plugin with a graphic user interface to tile local aerial imagery dataset and upload them to OAM. The development will implement the OAM upload API commands for sending ready-tiles to the main OAM server or a specific node. The QGIS plugin could also consume OAM-C API and facilitate search/br

[2015-02-12 03:08] cgiovando opened #7 "Improvements to the Humanitarian Data Model CartoCSS"
**Proposed by:** Cristiano Giovando
**Summary:** improvements or major bug fixing from this list https://github.com/hotosm/HDM-CartoCSS/issues
**Skills Required:** ?
**Possible Mentors:** someone from the project?
**Notes:**  project Website https://github.com/hotosm/HDM-CartoCSS/

[2015-02-12 03:14] cgiovando opened #8 "Improvements to HOT Exports"
**Proposed by:** Mhairi O'Hara
**Summary:** A number of high priority ticket issues on GitHub could potentially be project ideas.
**Skills Required:** ?
**Possible Mentors:** someone from the project?, Drazen (@dodobas)?
**Notes:**  project Website http://export.hotosm.org/  Some issues to be considered for project ideas:
- Links to empty pages
- File formats failing to export
- All columns provid

[2015-02-12 03:23] cgiovando opened #9 "Improvements to the OSM Tasking Manager"
**Proposed by:**
**Summary:** anything from https://github.com/hotosm/osm-tasking-manager2/issues ?
**Skills Required:** Python, Pyramid framework, ?
**Possible Mentors:**
**Notes:** there are probably more than one idea for the TM, let's make the title specific for each one.

[2015-02-12 16:05] althio opened #10 "[LearnOSM] Review implementation / internal structure"
Breaking up #4 Improve LearnOSM documentation
**Proposed by:** @althio

**Summary:**
1. Review current implementation
2a. either simplify and build on the existing Jekyll configuration
2b. or propose and switch to another platform

**Skills Required:** web design, documentation writing, knowledge of GitHub/Jekyll/Travis and documentation tools (eg. wiki, Middleman, Metalsmith, Penflip...)

**Possi

[2015-02-12 16:06] althio opened #11 "[LearnOSM] Jekyll plugins"
Breaking up #4 Improve LearnOSM documentation
**Proposed by:** @althio

**Summary:** Use and develop plugins to automate new features for the website
* table of contents [#266](https://github.com/hotosm/learnosm/issues/266)
* navigation (previous/next, sidebar) [#270](https://github.com/hotosm/learnosm/issues/270) [#139](https://github.com/hotosm/learnosm/issues/139) [#266](https://github.com/hoto

[2015-02-12 16:14] althio opened #12 "[LearnOSM] Content and organisation (guides, sections)"
Breaking up #4 Improve LearnOSM documentation
**Proposed by:** @althio

**Summary:** Review content and improve organisation on the website (guides, sections).
* Mark outdated content (vs. software and other projects upgrades)
* Compare current content (website) with previous content (googledocs)
* Identify gaps (missing content and sections, available as googledocs or not written yet)
* Review an

[2015-02-12 16:19] althio opened #13 "[LearnOSM] Translation workflow"
Breaking up #4 Improve LearnOSM documentation
**Proposed by:** @althio

**Summary:** Improve translation, easiness to contribute, delivered quality
* Refine, define and document translation workflow (online/offline, GitHub/Transifex/OmegaT, crowd-sourcing/collaborative)
* possibilities for using non-technical tools
* study feasibility of *Translation memory* "shared glossary" with other HOT/OSM pr

[2015-02-13 10:32] althio opened #14 "[LearnOSM] Guidelines for images (workflow, size, naming, folders…)"
Breaking up #4 Improve LearnOSM documentation
**Proposed by:** @althio

**Summary:** Images are now a big task in LearnOSM. They are very important for tutorials and guides. They take up a lot of memory space. Sometimes they need to be localised, sometimes they don't. Some of them are outdated or not used anymore but still in the repository folder.
Some actions for this project:
* define a workflo

[2015-02-13 10:35] althio commented on #4
These suggestions are now detailed as separate project ideas in #10 #11 #12 #13 #14.

[2015-02-13 19:02] cgiovando commented on #4
Great, thanks Althio! I'm going to close this one then.

[2015-02-13 19:02] #4 closed

[2015-02-13 21:05] cgiovando opened #15 "Create a Portable OSM Toolkit"
**Proposed by:** Cristiano Giovando (@cgiovando)
**Summary:** The goal of this project is to create a customized version of [OSGeo Live](http://live.osgeo.org/) to include a specific set of tools for working with OpenStreetMap data. The development can either enhance the current OSGeo Live by adding tools, or else create a separate streamlined version with just OSM tools and a smaller subset of GI

[2015-02-13 21:24] cgiovando commented on #15
We should create a tentative subset of software to include in order to identify required skills.

Here's comprehensive list from the OSM wiki: http://wiki.openstreetmap.org/wiki/Software/Desktop

[2015-02-13 21:34] kalxas commented on #15
In the above list of software I can see many tools that are included in OSGeoLive already, but definitely not all of them, the list is too long.
We have to identify which are 1. Under a FOSS license, 2. available on Ubuntu platform
Then we need to evaluate disk space needed to install some/all of them.
I am pretty sure that all those projects do not fit into the 4GB iso.

[2015-02-13 21:36] kalxas commented on #15
Also, we need to allocate some effort to update the OSM documentation in OSGeoLive and make sure the workflows are up to date.

[2015-02-16 11:19] mataharimhairi opened #16 "Redesign the Export Tool User Interface (UI)"
**Proposed by:** Mhairi O'Hara
**Summary:** The HOT Export Tool UI needs to be redesigned to increase overall usability and efficiency.
**Skills Required:** Ruby
**Possible Mentors:** ???
**Notes:** The [HOT Exports Tool](http://export.hotosm.org/en) can be enhanced by redesigning the UI making it easier and quicker to use, so that data can be exporting more efficiently. There are a number of issu

[2015-02-16 11:41] mataharimhairi opened #17 "Allow individual file formats to be selected in the Export Tool"
**Proposed by:** Mhairi O'Hara

**Summary:** Allow individual file formats to be selected in the Export Tool for easier exporting.

**Skills Required:** Ruby, Perl

**Possible Mentors:** ???

**Notes:** This project proposal is taken from the [hot-exports] (https://github.com/hotosm/hot-exports), where it is listed as issue [#78] (https://github.com/hotosm/hot-exports/issues/78) and describes the

[2015-02-16 11:45] mataharimhairi opened #18 "Add the OSMAnd .obf file format to the Export Tool"
**Proposed by:** Mhairi O'Hara

**Summary:** Currently other services are relied on to update OSMAnd during activations. Allowing users to update this themselves through the [HOT Exports Tool](http://export.hotosm.org/en) would help make activations more effective.

**Skills Required:** Ruby on Rails, Perl, Shell, SQLite, PostgreSQL, HTML5, CSS

**Possible Mentors:** ???

**Notes:** This project p

[2015-02-16 22:17] cgiovando commented on #18
@dodobas can you estimate the time and skills required for this project? @mataharimhairi we should make sure these project ideas are worth three months of coding if we tag them for GSoC.

Any developer from the project that we can ask about mentoring?

[2015-02-16 22:21] cgiovando commented on #17
@mataharimhairi this idea sounds like it could be grouped with others, maybe under #8 ? Let's assess the amount of effort required and decide if it's worth keeping it separate.

[2015-02-16 22:25] cgiovando commented on #17
It also appears to be duplicate of one of the tasks in #16

[2015-02-16 22:30] cgiovando commented on #9
@pgiraud @dodobas can you please help defining these GSoC project ideas? Students will be available for 3 months, let's think of 1 or 2 ideas that would fit that amount of effort. We also need to list required skills and potential mentors. Cheers

[2015-02-16 22:30] bgirardot commented on #18
I haven't had a chance to look at these hot export server ideas yet, but one thing to keep in mind is that the software runs on geofabrik hardware somewhere. I have tried to get it installed on my local machine but never had any luck, but I am not a Ruby on Rails developer.

[2015-02-16 22:41] cgiovando commented on #7
@yohanboniface @skorasaurus we are thinking of including HDM-CartoCSS as a project for Google Summer of Code ideas. Would you mind summarizing open issues and proposed enhancements that could be the worked on by a student in a 3 months period? We would also need to know what skills are required and if one of you could mentor the student during the summer. Thank you!

[2015-02-17 00:10] epifanio commented on #15
Hi, I'm back working on the live and i can dedicate some time this week to identify projects from that list that are already installed on the live. For those software i'll try the docs and quickstarts on the latest osgeolive. I'll report here soon.

[2015-02-17 08:34] yohanboniface commented on #7
There are three main groups of issues:
- [roads](https://github.com/hotosm/HDM-CartoCSS/labels/roads)
- [labels](https://github.com/hotosm/HDM-CartoCSS/labels/label)
- [icons](https://github.com/hotosm/HDM-CartoCSS/labels/icon)

Plus a bunch of various rendering improvements/refinements.

On the road side, I think a refactoring is needed (there are some glitches), plus there is a recurrent request

[2015-02-17 09:21] althio commented on #7
For reference on icons.

There is ongoing work on icons at OSM main-default carto style https://github.com/gravitystorm/openstreetmap-carto/issues/1165
The work is to move to SVG and propose new design with most active contributor @nebulon42.

Another floating idea is to share icons across projects
https://github.com/gravitystorm/openstreetmap-carto/issues/659

[2015-02-17 14:37] mataharimhairi commented on #18
@cgiovando Yes, I totally agree. We will have to see if this job is realistic for a 3 month internship, otherwise it can't be used as a project proposal. I thought I would add it as an issue (project idea) first, so that we might get some feed back on it, which hopefully Dražen can help us with!

[2015-02-17 14:49] mataharimhairi commented on #8
@cgiovando these need to be broken down into individual issues/project ideas, once the workload is assessed to see which ones can feasibly be completed in 3 months. @dodobas could you provide some feedback on the potential timeframe it would take to address each of the issues above?

[2015-02-17 14:55] mataharimhairi commented on #16
@cgiovando given that the internship is only for 3 months, I will update this project idea to solely address [issue #68](https://github.com/hotosm/hot-exports/issues/68) Proposing UI changes, removing [issue #14](https://github.com/hotosm/hot-exports/issues/14) completely and leave [issue #78](https://github.com/hotosm/hot-exports/issues/78) listed as a project idea in this repository as issue #17

[2015-02-17 15:01] mataharimhairi commented on #17
@cgiovando issue #8 should actually be broken down into multiple issues/project ideas, as they were originally grouped as potentials. just waiting to hear back from Dražen if any of them can feasibly be completed in three months.

I have also updated issue #16 so that this task is no longer covered in it, basically splitting them up.

[2015-02-17 21:53] nebulon42 commented on #7
Thanks for notifying me. As @althio wrote there is currently an effort to refresh the icon set of the openstreetmap-carto style and move all POI icons to SVG. It would be nice if this effort would also lead to increased collaboration and/or consistency of icons between different carto projects (where possible) such as HDM and openstreetmap-carto.

For my new icons I already was heavily inspired by

[2015-02-18 01:04] cgiovando commented on #7
Thank you all (@althio @nebulon42 @yohanboniface) for the feedback.

Yohan, can you please propose a summarized description of work based on this discussion? Two or three sentences should be enough. Cheers!

[2015-02-19 02:46] skorasaurus commented on #7
As Yohan eloquently explained, there are many possible improvements but
these some of these improvements need skills not just technical but also a lot of communication.

Regarding communication,
We need to ensure that any new tags we are selecting to render are
agreed upon by many of the actors in HOT ecosystem including actors out in the field and those involved in activations and OSM communities

[2015-02-19 02:56] dalekunce commented on #7
+1 for this as a Summer of Code Project. I've spent a bunch of time working on converting the HDM style to something renderable via MapBox Streets. I've got the basic look and feel down but still need to handle all of the POIs. I would love to hand this off to someone to run with. I'd also be willing to host the potential student at the American Red Cross if they need space/computer to work.

[2015-02-19 11:13] wonderchook commented on #16
I think this should be more "implement UI" changes instead of redesign. There has been a redesign, but someone needs to turn that into code.

[2015-02-19 18:16] heatherleson commented on #6
Hey I would provide the links to each of the software and HOT projects in this ticket. There are QGIS experts in the HOT community. Maybe send a note to the list about the exact needs?

[2015-02-19 18:30] dodobas commented on #6
Willing to mentor,

QGIS plugin could also consume OAM-C API and facilitate search/browse/get imagery for an area, or download unprocessed imagery data ... basically a desktop tool for OAM

[2015-02-19 18:39] dodobas commented on #18
This should be merged with #17

[2015-02-19 18:53] dodobas commented on #17
This a _full-stack_ task, as an applicant needs to change frontend, backend and processing code, and the skills @mataharimhairi noted are correct.

@cgiovando don't really know where to add comments, but ... I would have two proposals for HOT Exports. One focused on adding new functionality to the service, like this one and other enhancement issues, and the other one would be #16 that would focus

[2015-02-20 01:33] cgiovando commented on #16
@mataharimhairi can you find one or two mentors?

[2015-02-20 02:32] epifanio commented on #15
from a first look on that list i filtered out the apps with a linux version and with a 'free' license https://gist.github.com/46da861ff12970232fea
 i'll compare this list with the sw installed on the live and i'll try to generate a new table (with metadata etc ..) like the one on OSM wiki with the missed sw

[2015-02-20 06:19] mataharimhairi commented on #17
I've added dodobas as a mentor for the project idea and issue #18 (Add OSMAnd .obf file format). I will close the other issue now.

[2015-02-20 06:19] mataharimhairi commented on #18
I have merged this project idea with issue #17.

[2015-02-20 06:20] #18 closed

[2015-02-20 06:23] mataharimhairi commented on #16
@dodobas would you be willing to mentor this project as well? I've but you down for #17. I'll mentor any Export Tool project selected by the Outreachy program and was wondering if you could cover the Export Tool projects for GSoC? There are currently 2.

[2015-02-20 06:25] mataharimhairi commented on #8
@cgiovando I think it is best we don't use these tasks as project ideas for GSoC, as the others currently listed for the Export Tool have a higher priority.

[2015-02-20 06:26] dodobas commented on #16
well, I'm not really an UI guy, so can't really help with the design or usability, but I can help with all of the other stuff, and if that's ok, then yes

[2015-02-20 08:02] yohanboniface commented on #15
FYI, this is the list of software I used to install when preparing Ubuntu desktops for field missions: http://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team/Preparing_field_mission

Also, even if Lubuntu is lighter, my _opinion_ is that Unity is a better choice for computers dedicated to humans, in the sense of a much more intuitive UI (Dock + Dash and you can do everything). But I'm just shari

[2015-02-20 21:57] epifanio commented on #15
Hi yohanboniface, thanks for the list. I agree on Unity Vs Lubuntu (i also prefer gnome3 to unity).
The choice of lubuntu for the osgeo-live is because it's lightweight compared with unity (booting and running from usb is a little bit quicker) and on the OSGeo-Live we also have a "space issues" because the final live has to include mac/windows installer etc.. and it is limited to the size of a dvd

[2015-02-20 22:23] bgirardot commented on #15
For what it is worth: Recently having reasons to run Ubuntu 14.04 and Lubuntu 14.10, the usability difference on low end hardware and in virtual machines is dramatic. Ubuntu proper was basically not usable with several, like 5-10 seconds for menus and windows to appear, lubuntu, totally fine, not even slow really, same hardware, dramatic difference.

[2015-02-25 09:30] mataharimhairi commented on #2
@pgiraud Hey Pierre, I don't think I've introduced myself yet, so sorry to jump right in and ask if you could possibly mentor this project? I think you would be ideal as you are heavily involved with upgrading the TM for the version 2.0 release.

And if I am correct, you were also Nikita Agarwal mentor on the last FOSS Outreach Program for Women, which focused on improving the TM homepage and this

[2015-02-25 10:32] mataharimhairi commented on #12
@althio Thanks for proposing this project idea! Now we just have to find someone that would fit the bill as a mentor and would be willing to do it. I had a look at the linked learnosm issues and looked at who has been involved most recently to gain some insight into who might fit best:

@Nick-Tallguy
@pyrog
@jeffhaack
@lxbarth

Any thoughts on these candidates as mentors? I will go ahead and reach

[2015-02-25 10:43] mataharimhairi commented on #14
@althio Thanks again for this project idea. Similarly we have to find someone that can mentor this from the LearnOSM team. I forgot to ask if you yourself would be willing to mentor project #12 or this one? Otherwise I was thinking of approaching:

@Nick-Tallguy
@pyrog
@jeffhaack
@pierzen

Any thoughts on these candidates as mentors? I believe @jeffhaack and @pierzen will get this message - would

[2015-02-25 20:38] althio commented on #12
Good set of candidates :)
If one of them steps forward we are well covered.

[2015-02-25 20:38] althio commented on #14
Maybe a few others? @lxbarth @skorasaurus
But I don't know who is interested.
I am willing to co-mentor but cannot afford full mentoring at the moment.

[2015-02-26 02:39] mataharimhairi commented on #14
Not to worry, if you are a little stretched at the moment! I will get in contact with those mentioned above. Hopefully one of them will be able to mentor.

[2015-02-26 02:41] mataharimhairi commented on #13
@althio Thanks again for the help. I've added the labels as requested and will get in touch with @jmarlena, @Nick-Tallguy and @pyrog to see if they could possibly mentor this project!

[2015-02-26 05:15] bgirardot commented on #14
Is this really 3 months of full time work?

[2015-02-26 05:17] bgirardot commented on #13
I think this one might be combined with issue #14

[2015-02-26 06:14] althio commented on #14
3 months of full time work? For the intern yes, not for the mentor.  ;)
Still a mentor must IMO offer a significant part-time job and a good availability for the first days/weeks.

[2015-02-26 07:22] althio commented on #13
@bgirardot
I agree the issues are related. Indeed one item is common (image localization and filing) and must be handled accordingly.

On the other hand I filed them as separate because the required skills are different and I feel the workload is enough.

For a longer assignment or a gifted intern (you know that during the internship, not before) we could proceed with both ideas.

[2015-02-26 07:29] althio commented on #13
@mataharimhairi
Note that @jmarlena is currently our  HOT intern in the outreach program. Maybe she can mentor or co-mentor this time.

This is the one project I would be most interested in mentoring.

[2015-03-02 19:35] Nick-Tallguy commented on #12
I need to read up about mentorship, but I'm interested.

[2015-03-02 19:36] Nick-Tallguy commented on #14
I'm interested, but need to read up about mentorship

[2015-03-03 03:40] mataharimhairi commented on #14
@Nick-Tallguy That's great! We are currently drafting up some HOT guidelines, but here are the [guidelines](https://wiki.gnome.org/Outreachy/Admin/InfoForMentors) from Outreachy to get you started. I will be also helping with coordination along the way, so you can get in touch with me for any questions.

[2015-03-03 03:41] mataharimhairi commented on #12
@Nick-Tallguy That's great! We are currently drafting up some HOT guidelines, but here are the [guidelines](https://wiki.gnome.org/Outreachy/Admin/InfoForMentors) from Outreachy to get you started. I will be also helping with coordination along the way, so you can get in touch with me for any questions.

[2015-03-04 21:05] aarshvig commented on #14
Hi,
I am a third year undergraduate student from India and I want to contribute to the open source community through the outreach program for women.

I am assuming this is the right place to discuss more about this project.

I want to express my interest in working on Spatial computing environment. I think I
have the required skills and experience that is needed for this project. If possible, I wo

[2015-03-04 21:06] aarshvig commented on #14
Hi,
This is Aarshvi, a third year undergraduate student from India and I want to contribute to the open source community through the outreach program for women.

I am assuming this is the right place to discuss more about this project.

I want to express my interest in working on this project. I think I have the required skills and experience that is needed for this project. If possible, I would l

[2015-03-04 21:52] juhitandon commented on #13
hello , am an NLP enthusiast and pursuing my major in Computational Linguistics , if someone could please give me more insight into theproject . I would also like to know if there is a coding aspect to it.

Thanks

[2015-03-04 22:54] bgirardot commented on #13
@althio we had this conversation on IRC, I said I would put it here so you can correct me where I am wrong:

[code]

[2015-03-04 23:15] althio commented on #13
Hi @juhitandon thank you for your enquiry, thanks @bgirardot for taking the time to answer on IRC and here.

About this project: very true, there is not much coding.
What I imagine is more about reviewing existing tools of computer-aided translation [CAT], then define and document the translation workflow for better quality and performance.

[2015-03-05 01:04] mataharimhairi commented on #14
Hello Arashvi,

Thank you for your interest in Outreachy, the open source community and OSM. This is indeed the right place to discuss the project. To start with, I would recommend that you familiarise yourself with the LearnOSM website [1].

Please also review the general requirements of the Outreachy internship on their website [2], if you have not already done so. The basic expectations of the

[2015-03-05 13:54] juhitandon commented on #13
thanks @bgirardot and @althio for the reply.
so how do you think i should get started in reviewing ? can you elaborate a little please
though little what could be the coding part , if at all ?

[2015-03-05 14:46] elf11 commented on #1
Hello,

My name is Oana Niculaescu and I am a 1st year Master's student at the University Politehnica of Bucharest - Romania, and I want to get involved and contribute to the open community through the Outreach Program for women. I have already reviewed the requirements for the Outreachy program and I am willing to dedicate 40h/week to the program.

I want to express my interest into working on th

[2015-03-06 01:07] sandraemma03 commented on #1
Hello my name is Sandra and am a 3rd year Software Engineering student at the University of Buea, Cameroon. Am intrested in open source and i would like to participate in oureachy 2015 and am interested in the project on : Improve help documentation of HOT Export Tool features on Homepage. I would be very honoured to participate in this organisation

[2015-03-06 04:22] mataharimhairi commented on #1
Hello Oana and Sandra,

Thank you very much for your interest in the open souce community and for getting in touch. To start with, I would recommend that you both familiarise yourselves with the Export Tool [1]. If you haven't already done so, please review the general requirements of the Outreachy internship [2]. As Oana mentioned, a minimum of 40 hrs a week must be dedicated to the program, carr

[2015-03-06 04:38] mataharimhairi commented on #13
@juhitandon

Hello and thank you so much for your interest. I think the first step is to really familarise yourself with the LearnOSM website [1], and the Outreachy guidelines [2]. All potential candidates must be able to dedicate a minimum of 40 hrs a week to the program, which will be carried out remotely from the 25th May until 25th August. We would just like to make sure that everyone is aware

[2015-03-06 06:29] juhitandon commented on #13
yes @mataharimhairi thanks :) I have gone through these and wish to contribute complying to these.
How do i get started doing the actual work ?

[2015-03-06 10:30] rekth commented on #2
Hello,

I am interested in contributing to this project through Outreachy. With who can I talk to to prepare myself for the application and learn a bit more about the project and what to expect?
Some suggestions of improving the learning process have already come to mind. Is the best process to submit them here directly?

Thanks,
rekth

[2015-03-06 11:01] jmarlena commented on #13
Hey @juhitandon!

Exploring the "feasibility of translation memory for a shared glossary with other HOT/OSM projects" is probably the closest part of this to coding. See issue [#280](https://github.com/hotosm/learnosm/issues/280) for more about the glossary. In general, I think the most code intensive issues for learnosm involve creating or adapting custom plugins or issue [#11](https://github.com

[2015-03-06 11:48] arushivashist commented on #1
My name is Arushi Vashist, an enthusiast willing to contribute to documentation on the Homepage
of HOT Export Tool features. I have worked before in html and jquery, and this additional feature interests me.
I would like to discuss more regarding the project and how to actually begin submitting ideas

[2015-03-06 19:42] jeffhaack commented on #12
Hi guys, I wish I could be more hands-on involved in this, but it's just a matter of time which I don't have.  If I can help by getting on some calls and giving my thoughts and advice, I can do that, but I wouldn't be able to devote more than an hour here or there, or getting my hands dirty with the code.

[2015-03-06 20:18] SonaliAg commented on #3
Hi,
I am interested in this project and want to apply for it through Outreachy. Can you pls guide me from where to start contributing in it. I am familiar with remote sensing.

[2015-03-06 22:47] bgirardot commented on #15
This project has been moved to the OpenStreetMap Google Summer of Code project list:
http://wiki.openstreetmap.org/wiki/Google_Summer_of_Code/2015/Project_Ideas#Project_Ideas

[2015-03-07 03:43] sandraemma03 commented on #13
Hello to all, my name is Sandra. Am happy to be here and i would be glad to participate in this project. I love the ideas and it is really interesting. It would be a great pleasure for me to contribute to it.

[2015-03-07 09:46] arushivashist commented on #14
Hello All,
My name is Arushi Vashist, a Computer Science student from India.
I would like to discuss more regarding the project and how to submit workflows and define methods.
I have reviewed program outline and expectations and I am willing to contribute to this project.
Can someone guide me further ?
Thanks

[2015-03-07 16:46] wonderchook commented on #14
@arushivashist I would see the definition of the workflows to be a multistep process. The first step would be a diagram showing where the images go and how they get updated.

As part of your application you need to come up with a schedule of how you propose to approach the internship. If you could create an initial schedule of how you would approach the project and paste a link here we can look ov

[2015-03-08 18:19] laksheenmendis commented on #12
Hi,
I am interested in contributing to this project through Outreachy. Therefore, I would like to get to know more about the project and contribute to it before applying. I would appreciate if someone can reply me, so that I can get started as soon as possible.

Thanks
Laksheen Mendis

[2015-03-09 00:20] sandraemma03 commented on #3
Hello my name is Sandra-Emma. Am a 3rd year software engineering student at the university of Buea Cameroon. I am apply for Outreachy under the OSM organisation and am interested in the project on Promote OpenAerialMap to other Communities. I dont know if i could have a guide on where to start first. Thanks

[2015-03-09 14:17] lumneh commented on #12
Hello,
After visiting the LearnOSM website, I developed much interest in contributing to this project through outreachy 2015. I would like to know what it takes to start contributing to this project.
Thanks
Lumneh

[2015-03-09 14:48] lumneh commented on #2
Hi,
I am a computer engineering student and am interested in contributing to this project through the outcheachy program 2015. Please could someone help me on how to get started.
Thanks

[2015-03-09 17:05] althio opened #19 "Web interface with advanced poll features for icons and rendering proposals"
Proposed by: @althio

**Project (student):** Web interface with advanced poll features
**Internal objective (OSM-HOT):** Tool to aid decision making on rendering

**Summary:** Create a tool to review proposals, gather feedback and analyse results.

The tool would allow maintainer to propose one or several rendering for a particular tag. Then everyone could vote with a scale of satisfaction about t

[2015-03-09 21:35] althio commented on #13
Hi and thank you all for your interest.

We will soon come up with details about the application details.
It will likely include a short cover letter and a simple resume so think about it now.
We will also propose preliminary tasks for you to see if the project suits you and if you are able to tackle it.

**How to start?** Please find [_2 proposed tasks_](https://github.com/hotosm/HOT-Project-Idea

[2015-03-09 21:35] althio commented on #13
@jmarlena is right about issue #11 being more related to coding. More comments there (#11) soon.

Glossary of used terms (as in #280) is possibly related to #11 (plugins for automation) and remotely related to #13 (translation) but I do not see that as being exactly in the scope here.
Maybe "shared glossary" for translation was confusing, the right term is certainly "translation memory".

[2015-03-10 02:17] laksheenmendis commented on #12
Hi @Nick-Tallguy, I believe that you're planning to mentor this project. I'm a final year undergraduate at University of Moratuwa, Sri Lanka, Studying Computer Science & Engineering. As mentioned in the previous comment, I'm interested in this project. I'm so excited, as this is the first time I'm going to contribute for an open source project. I would like to get your email address to discuss fur

[2015-03-10 06:55] SonaliAg commented on #14
I have gone through beta guidelines.I want to know what are the constraints which we have to take care while writing the workflow. What are the problems which are being faced. If I know these things then it will be helpful in writing the workflow. Or we have to decide by our own. Can anyone please guide me from where to start.

[2015-03-10 07:15] yohanboniface commented on #19
I don't think we need such a system. If we were in a situation were the Github issues were full of comments and debates, we'd certainly benefit from something like that, but that's not the situation. So better spend energy on more useful tasks imho.

[2015-03-10 22:54] althio commented on #11
We have not identified yet a technical mentor for this potential internship.
Please consider this idea as still valid but it should be handled by an autonomous contributor.

[2015-03-11 08:10] althio commented on #19
Hi @yohanboniface, thank you for the feedback.

I guess you are referring to the Github issues from HDM CartoCSS, aren't you?
I agree this is relatively quiet and my point of view is that it does need more input.

We were also talking about shared effort on icons, something potentially cross-project with HDM, openstreetmap-carto, Maki, Nori, maybe also country- or culture-dependant styles.

I feel

[2015-03-11 10:37] sandraemma03 commented on #13
Hi, I have issues submitting the assignment on the https://github.com/hotosm/HOT-Project-Ideas/wiki/Translation-Workflow-for-LearnOSM page. I don't have permission submitting to the
mentors-outreachy@hotosm.org. I want to know if submission needs invitation .
Thanks

[2015-03-11 10:39] mataharimhairi commented on #13
Hi Sandra,

Sorry about that. I will look into why you can't submit to the mentors-outreachy@hotosm.org. Thanks for your patience.

[2015-03-11 10:46] lumneh commented on #2
Hello,
I sent a message earlier stated my interest in contributing to this project for Outreachy 2015, but I haven't had a reply. Could someone please tell me how to get started?

Thanks
Angela.

[2015-03-11 11:09] mataharimhairi commented on #2
Hello Angela and Rekth,

Sorry for the slow reply, and thank you for your interest. To start with, I would recommend that you both familiarise yourselves with the Tasking Manager [1]. If you haven't already done so, please review the general requirements of the Outreachy internship [2] and keep in mind that a minimum of 40 hrs a week must be dedicated to the program, carried out remotely from the

[2015-03-11 11:23] lumneh commented on #2
Thanks very much @mataharimhairi, am immediately going to start  familiarising myself as you proposed above.

[2015-03-11 13:34] mataharimhairi commented on #1
Hello Oana, Sandra and Arushi,

Again, thank you for your interest and your patience.The next step in the application process would be to complete the items listed below and send them to apply-outreachy@hotosm.org:
- A short paragraph explaining why you are applying and what involvement, if you have had any, in open source projects.
- A simple resume showing previous activities and experience. And

[2015-03-11 20:53] althio commented on #13
To start with, we would recommend that you familiarise yourselves with the LearnOSM website [1]. If you haven't already done so, please review the general requirements of the Outreachy internship [2] and keep in mind that a minimum of 40 hrs a week must be dedicated to the program, carried out remotely from the 25th May until 25th August.

[1] http://learnosm.org/
[2] https://www.gnome.org/outreac

[2015-03-11 20:53] althio commented on #14
To start with, we would recommend that you familiarise yourselves with the LearnOSM website [1]. If you haven't already done so, please review the general requirements of the Outreachy internship [2] and keep in mind that a minimum of 40 hrs a week must be dedicated to the program, carried out remotely from the 25th May until 25th August.

[1] http://learnosm.org/
[2] https://www.gnome.org/outreac

[2015-03-11 20:54] althio commented on #12
To start with, we would recommend that you familiarise yourselves with the LearnOSM website [1]. If you haven't already done so, please review the general requirements of the Outreachy internship [2] and keep in mind that a minimum of 40 hrs a week must be dedicated to the program, carried out remotely from the 25th May until 25th August.

[1] http://learnosm.org/
[2] https://www.gnome.org/outreac

[2015-03-12 16:59] bgirardot commented on #16
@mataharimhairi Are any of these export tool projects now subsumed by the hot export tech challenge?

[2015-03-13 02:49] mataharimhairi commented on #16
@bgirardot Yes the export tool projects that were originally going to be proposed in GSoC are subsumed by the HOT Ecport Tech Challenge:

http://hot.openstreetmap.org/hot_export_tool_tech_challenge

[2015-03-13 02:51] mataharimhairi commented on #17
This project idea is now subsumed by the HOT Export Tool Tech Challenge:

http://hot.openstreetmap.org/hot_export_tool_tech_challenge

[2015-03-13 19:46] Abhilasha23singh commented on #5
Hello,

I am Abhilasha from IIT BHU, India. I am interested in contributing to this project through Outreachy 2015. Who can I get I touch with to learn more about the project and to submit my proposal  ?

Thanks and Regards,
Abhilasha Singh

[2015-03-13 19:51] bgirardot commented on #5
Hi @Abhilasha23singh  let me create a short task for people interested in this project.
I'll add it in here when I get it described shortly.
Until then please be sure to see the requirements for any of our Outreachy project proposals.
This page has the list of general requirements, down in the "Getting Started" section:
https://github.com/hotosm/HOT-Project-Ideas/wiki/Outreachy-2015

[2015-03-13 20:15] Abhilasha23singh commented on #3
Hello,

I am Abhilasha from IIT BHU, India. I am interested in contributing to this project through Outreachy 2015. Who can I get I touch with to learn more about the project and to submit my proposal ?

Thanks and Regards,
Abhilasha Singh

[2015-03-13 20:25] Abhilasha23singh commented on #3
Hello,

I am Abhilasha from IIT BHU, India. I am interested in contributing to this project through Outreachy 2015. Who can I get I touch with to learn more about the project and to submit my proposal ?

Thanks and Regards,
Abhilasha Singh

[2015-03-13 21:16] bgirardot commented on #5
@Abhilasha23singh I have added some small contribution suggestions here:
https://github.com/hotosm/HOT-Project-Ideas/wiki/3-Moodle-Courses---Small-Contribution-Task-Ideas
Please let me know if you have any questions.

[2015-03-14 14:06] sandraemma03 commented on #13
@althio I have been trying to submit my sample proposal to the apply-outreachy@hotosm.org but my mail does not go and i have the following messages:
 You might have spelled or formatted the group name incorrectly.
- The owner of the group may have removed this group.
- You may need to join the group before receiving permission to post.
- This group may not be open to posting.

How can i send it?

[2015-03-14 21:02] arushivashist commented on #1
How to I present the documentation content ? Make a wiki page, or clone the repo and build up on that ?

[2015-03-14 22:36] bgirardot commented on #5
Hi, I should have made it more clear: I am the mentor for this project. I can usually be found on hot's irc channel:
https://kiwiirc.com/client/irc.oftc.net/hot
Any questions you should ask here on this issue forum. If you would like to discuss something, IRC is the best option for me.

[2015-03-14 23:22] rekth commented on #2
Hi @mataharimhairi
If there is some spare time, a bit more information about this project and what to expect from participating in the internship would be much appreciated.
Maybe also some details on what is expected from us to successfully complete the internship. For example, I understand that the deliverables is what's required but the description entails that a variety of methods can be used f

[2015-03-15 19:39] vdjeudjam commented on #5
Hello @bgirardot,
I am Verane, final year Computer Engineering student at the University of Buea pursuing a B. Eng. I am interesting in working in contributing to the open source community. And i would like to do this with the OSM project. Hope its not late !!

Best regards.

[2015-03-15 19:47] vdjeudjam commented on #12
Hello all,
I am Verane, final year Computer Engineering student at the University of Buea pursuing a B. Eng. I am interesting in working in contributing to the open source community. And i would like to do this with the OSM project. Hope its not late !!

Cheers,

[2015-03-15 23:19] bgirardot commented on #5
@vdjeudjam It is not too late. Please review the general application requirements here:
https://github.com/hotosm/HOT-Project-Ideas/wiki/Outreachy-2015
And the small task to contribute ideas here:
https://github.com/hotosm/HOT-Project-Ideas/wiki/3-Moodle-Courses---Small-Contribution-Task-Ideas

I am open to other ideas for a small contribution as well.

[2015-03-16 10:34] vdjeudjam commented on #5
thanks @bgirardot i am actually doing the assigned tasks.
I have an idea is that the courses should also be translated for different languages.
An i think i do not really understand what @cgiovando meant by " ... Course outlines and design should be completed before the project begins by the mentors in consultation with the Training, Community and Activation WGs". Those this means before Mai 25, a

[2015-03-16 12:34] bgirardot commented on #5
@vdjeudjam I think it means the course outlines will be mostly defined by the time things start. I think that if the person working on the project has some suggestions we can all talk about them, intern, mentor, working groups.

[2015-03-16 13:22] mataharimhairi commented on #1
Hey Arushi,

I sent you an e-mail, but wanted to reply here as well, for the reference of the other candidates. There is no format specified, so it is up to you whether you would like to present it in a word doc, a wiki page or html site. Just keep in mind to select a format that will show off your skill and best represent your work.

Cheers,

Mhairi

[2015-03-16 13:30] mataharimhairi commented on #2
Hello Rekth,

Yes, let's set a time to meet on IRC so we can discuss this further. I've sent you an e-mail with some time options.

Kind regards,

Mhairi

[2015-03-17 06:40] cgiovando commented on #3
Hello @SonaliAg @sandraemma03 and @Abhilasha23singh
Thanks for your interest in this project. In order to get started please get familiar with OpenAerialMap by visiting https://github.com/hotosm/OpenAerialMap

Before applying for this project idea through the Outreachy program, please provide two examples of communities or organizations that would benefit from the OpenAerialMap project. Describe w

[2015-03-17 08:19] mataharimhairi commented on #2
@lumneh I just wanted to let you know that I had an IRC chat with Rekth after we arranged a time together. This would be the best way to catch me online, as I am not always available. Would you like to have a chat sometime?

I am also happy to look over the application briefly - well really just the task part of the application before you submit it. So please do not hesitate to get in touch with m

[2015-03-17 08:24] mataharimhairi commented on #1
Hello @elf11, @sandraemma03  and @arushivashist,

If you have any questions and would like to chat to me on IRC, please arrange a time. This would be the best way to catch me online, as I am not always available.

I am also happy to look over your applications briefly - well really just the task part before it is submitted. So please do not hesitate to get in touch with me regarding this.

[2015-03-17 09:17] arushivashist commented on #1
Hello mataharimhairi !

I did some some work on the hot export tool task. Here is the link:
https://sites.google.com/site/hotexports/
I will be glad if you suggest me some improvements.. or recommend more
projects so as to enhance my application.
I have University exams starting from today till 20th, so I will be able to
devote less time, but I will continue with full dedication after exams.
Also,

[2015-03-17 21:02] rominacarabathampi commented on #14
Hello,

I would like to get involved in this project through outreach for women.
I am a third year undergraduate student in CS from Romania, but I don't know what to start with. I plan on doing what  @mataharimhairi said previously. And then what @althio said.

I have no experience with LearnOSM so I would need some help. I am currently on the website mentioned.
I am willing to learn and work on t

[2015-03-18 02:29] tassia commented on #6
Hello,
May I still apply for this project?
I see that it was removed from the Outreachy 2015 page, but if dodobas is still willing to mentor, I would probably apply to this one.
Thanks!

[2015-03-18 18:27] cgiovando commented on #6
Hi @tassia thanks for your interest in this project idea. It was unlisted only because it did not receive much attention and the OAM project is still in its early phase. I'm happy to repost it if you feel like it would be a good match for your skills and interests. @dodobas myself and probably someone else from QGIS-Devs would be excited and happy to mentor.

To start, we would like to know about

[2015-03-19 06:52] mataharimhairi commented on #14
@minusc

Please do get started with what was mentioned above. Most importantly is to submit your initial application by March 24th. You can still edit your application and add more information to your contribution and project plan until April 27th.

Kind regards,

Mhairi

[2015-03-19 07:16] mataharimhairi commented on #1
@arushivashist

I will look through your task and get back to you by tomorrow. I think at this point and for your initial application, this will do just fine. As Marina mentioned, you can still make edits to your application/contribution/projectplan up until the 27th April.

If you would like to apply for another project idea, please view our Outreachy landing page [1] and follow the comments on t

[2015-03-19 10:22] tassia commented on #6
Hi cgiovando,
This all sounds great!
So I'll start coding asap and when I have doubts or something to show I'll get in touch.
Thanks!
Tassia.

[2015-03-20 08:39] vdjeudjam commented on #5
Hi @bgirardot  i have issues submitting my assigned task to the apply-outreachy@hotosm.org and mentor-outreachy@hotosm.org as per the "Getting Started" section of https://github.com/hotosm/HOT-Project-Ideas/wiki/Outreachy-2015. When i send the mail it replies with a failure-notice.

[2015-03-20 12:02] bgirardot commented on #5
@vdjeudjam It could be because you are sending attachments with the file and they are too big maybe? @mataharimhairi will see this note and get it straightened out I am sure. Please follow up here if it doesn't get resolved in the next day or so.

[2015-03-20 15:12] bgirardot commented on #5
SPECIAL NOTE: Everyone should remember you will need to put your applications in on the Outreachy site. You can submit it and revise it, but get the submissions in by the deadlines! There is no way to extend the deadlines.

Register and apply here: https://outreachy.gnome.org/

[2015-03-20 23:17] cgiovando commented on #6
@tassia and anyone else interested in applying to this project under the Outreachy program, please submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organization list.

For more details and to apply, visit https://outreachy.gnome.org

[2015-03-20 23:18] cgiovando commented on #3
@SonaliAg @sandraemma03 @Abhilasha23singh and anyone else interested in applying to this project under the Outreachy program, please submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organization list.

For more details and to apply, visit https://outreachy.gnome.org

[2015-03-21 02:17] bgirardot commented on #5
SPECIAL NOTE 2: On the outreachy website, HOT is listed as OpenStreetMap, so please make sure to select OpenStreetMap for anything you submit from this github project list.

[2015-03-21 04:48] mataharimhairi commented on #1
Dear applicants, @elf11, @sandraemma03  and @arushivashist,

Please do not forget to submit your interest for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list.

Futher edits and changes to your application can still be made

[2015-03-21 04:50] mataharimhairi commented on #2
Dear applicants, @rekth, @lumneh

Please do not forget to submit your interest for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list.

Futher edits and changes to your application can still be made after this, but it is vital

[2015-03-21 04:53] mataharimhairi commented on #14
Dear applicants, @aarshvig, @arushivashist, @minusc, @SonaliAg,

Please do not forget to submit your interest for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list.

Futher edits and changes to your application can still be m

[2015-03-21 05:02] mataharimhairi commented on #12
Dear applicants, @laksheenmendis, @lumneh, @Supaplextw, @vdjeudjam,

Please do not forget to submit your interest for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list.

Futher edits and changes to your application can still

[2015-03-21 05:19] mataharimhairi commented on #13
Dear applicants, @juhitandon, @sandraemma03,

Please do not forget to submit your interest for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list.

Futher edits and changes to your application can still be made after this, but

[2015-03-21 06:58] Supaplextw commented on #12
H everyone,

I'm Dennis from Taiwan, and apply for the internship. When I send my apply mail to the address apply-outreachy@hotosm.org, it was sent back with error message said the address does not exit. Could someone fix it? Thanks.

[2015-03-21 07:05] lumneh commented on #2
Hey @mataharimhairi,
I would be very much delighted to have a chat with you on the IRC channel, please just let me know the time and day when you are available.\

Thanks

[2015-03-21 12:33] mataharimhairi commented on #12
Hi Dennis,

Sorry for the trouble with the e-mail, but could you please submit your
application for the project via the Outreachy website:

https://outreachy.gnome.org

You must submit your proposal by 24th March 2015 19:00UTC. When submitting
your application make sure you select "OpenStreetMap" from the organization
list.

Futher edits and changes to your application can still be made after this

[2015-03-21 12:41] Supaplextw commented on #12
Hi Mhairi

I have submit the application for the project via the Outreachy website.
Hope it will be recieved

Dennis

[2015-03-23 04:08] mataharimhairi commented on #12
@Supaplextw

Thank you Dennis. Your application has indeed been received.

[2015-03-23 04:43] mataharimhairi commented on #2
@lumneh I would be more than happy to chat to you today or tomorrow. Please send me an e-mail (mhairi.ohara@hotosm.org) so we can arrange a suitable time based on our locations.

[2015-03-23 21:30] laksheenmendis commented on #12
@mataharimhairi  Thank you for keeping us updated. I submitted my application via the Outreachy Website. However, I'm not sure whether my assignment deliverables were received by any of the 2 emails specified by @althio in https://github.com/hotosm/HOT-Project-Ideas/wiki/LearnOSM-Content-and-Organization. Please let me know the status.

Thanks

[2015-03-24 00:37] jsritchie commented on #5
Hello,

My name is Jacinta Ritchie, and I learned about Outreachy this sunday at LibrePlanet conference at MIT. I was attending to represent Vermont Law School's Center for Legal Innovation. Brian Mako Hill plugged the program and after some investigation OSM seems to be the best fit!

I'm finishing up my law degree at Vermont. I have experience with curriculum development, and would like to make

[2015-03-24 00:39] jsritchie commented on #2
Hello,

My name is Jacinta Ritchie, and I learned about Outreachy this sunday at LibrePlanet conference at MIT. I was attending to represent Vermont Law School's Center for Legal Innovation. Brian Mako Hill plugged the program and after some investigation OSM seems to be the best fit!

I'm finishing up my law degree at Vermont, specializing in Energy Law and Regulation. My goal is to make this tec

[2015-03-24 00:41] jsritchie commented on #1
Hello,

My name is Jacinta Ritchie, and I learned about Outreachy this sunday at LibrePlanet conference at MIT. I was attending to represent Vermont Law School's Center for Legal Innovation. Brian Mako Hill plugged the program and after some investigation OSM seems to be the best fit! What an amazing community!

I'm finishing up my law degree at Vermont Law School. I would like to use my skills to

[2015-03-24 03:42] mataharimhairi commented on #12
@laksheenmendis You're very welcome. Yes, I can see that your application has come through. The best thing would be to add your assignment deliverables to your application on the Outreachy website, so that all your contributions sit in one place.

Kind regards,

Mhairi

[2015-03-24 05:28] mataharimhairi commented on #2
Hello @jsritchie, @jpinkidu,

Please be aware that the application must be submitted via the Outreachy website by today 24th March 2015 19:00 UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list:

https://outreachy.gnome.org

Futher edits and changes to your application can still be made after this, but it is vital that this initial deadline is not

[2015-03-24 05:29] mataharimhairi commented on #1
Hello @jsritchie,

Please be aware that the application must be submitted via the Outreachy website by today 24th March 2015 19:00 UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list:

https://outreachy.gnome.org

Further edits and changes to your application can still be made after this, but it is vital that this initial deadline is not missed. Pl

[2015-03-24 05:31] mataharimhairi commented on #5
Hello @jsritchie,

Please be aware that the application must be submitted via the Outreachy website by today 24th March 2015 19:00 UTC. When submitting your application make sure you select "OpenStreetMap" from the organisation list:

https://outreachy.gnome.org

Futher edits and changes to your application can still be made after this, but it is vital that this initial deadline is not missed. Ple

[2015-03-24 05:43] laksheenmendis commented on #12
Thank you @mataharimhairi, I uploaded it as an attachment to the application.

[2015-03-24 10:07] jpinkidu commented on #2
Hi,
my name is Julia. I just learned about the Outreachy Program.
I'm interested in contributing to this project and I hope it is not too late to reach out for it. I already  took a look at the Tasking Manager. Have you any other suggestions besides the ones you mentioned before?

Thanks a lot!
Julia

[2015-03-24 12:37] mataharimhairi commented on #2
@jpinkidu I think at this very late notice, it is best you stick to one proposal. If you are interested in this project, please follow the steps in the comment above your previous comment. Good luck!

[2015-03-24 14:37] dobbler123 commented on #13
Hello, Although Its late to hop in but I am really intersted in contributing to this org, given that i have good experience in translation studies and good writing skills as well.
I have submitted the application through Outreachy and now willing to contribute and complete the task for a good and complete application.
Kindly guide me through it.

Thanks

[2015-03-24 15:35] vdjeudjam commented on #5
Hi @bgirardot I just edited my final application for the program. I would like to know if you can receive the tasks through this because i attached the files to the application as suggested by @mataharimhairi in https://github.com/hotosm/HOT-Project-Ideas/issues/12#issuecomment-85205963. Also i had to divide the task file into two files because the initial was too large to be uploaded to the syste

[2015-03-24 15:48] bgirardot commented on #5
@vdjeudjam I can confirm they are all attached and accessible in the outreachy system so we have them. Thank you very much for applying!

[2015-03-25 12:56] althio commented on #13
All requests and steps are outlined up here: https://github.com/hotosm/HOT-Project-Ideas/issues/13#issuecomment-78369145
Including link to proposed tasks: https://github.com/hotosm/HOT-Project-Ideas/wiki/Translation-Workflow-for-LearnOSM

Thank you for your application and please submit the required items as soon as possible.

Please do ask specific questions if you need more help.

[2015-04-08 22:56] vdjeudjam commented on #5
hi @bgirardot I would like to know what ideas you have concerning the project!

[2015-06-04 18:34] Neha--Agarwal commented on #14
Hello,
I'm Neha Agarwal, 3rd year undergraduate student in ICT(Information and communication technology) from DAIICT, India. I'm interested in working on this project as a part of OPW winter 2016. I just wanted to know if this project is available. I currently don't have experience on this platform but am willing to learn and contribute during this winter.

Regards,
Neha

[2015-06-04 19:04] Nick-Tallguy commented on #14
Hi @Neha--Agarwal at this stage I'm not sure if this particular project will have been already finished or not. I'm sure there will be other projects to do with HOT and LearnOSM, but at this stage it rather depends on the current volunteers.

Regards

Nick

[2015-09-12 07:55] misaochan commented on #1
Hi,

Is this project still open to be worked on for the Dec '15 Outreachy program? Or has it already been assigned during the previous round?

Thanks.

[2015-11-17 07:19] cgiovando opened #20 "From HOT Export Tools to Geonode"
Placeholder for idea discussed with GFDRR to extend HOT's export tool to work with Geonode. It would provide real time exports/download of specific OSM data subsets through Geonode standard interfaces.

[2017-02-06 20:43] bgirardot opened #21 "Ground Truther Application - Fast, defaulted, ground data collection"
A mobile application to collect gps coordinates and the operational status for 6-12 specific critical lifeline infrastructure object types.

Goal

The overall goal of the application is to capture a bare minimum of ground truth information and coordinates about a variety of critical lifeline infrastructure object types before, during and after a crisis. This includes information that, for example,

[2017-02-06 20:58] bgirardot opened #22 "HLZ Data Collection App - Ground truth HLZ information field surveyed by pilots"
I only have mockups of this one

![logged in ready to use- after save](https://cloud.githubusercontent.com/assets/265831/22665991/f39c1ba0-ec84-11e6-930b-4112eeb82a25.png)

[2017-02-06 21:19] bgirardot opened #23 "GPS4Good: Totally passive gps trace collection and upload"
This is a very configurable app to collect gps traces and upload the collected traces on an automated schedule.

Should be a faceless background service/app once configured correctly.

Needs remote administration support for configuring.

[2017-02-07 11:32] smit1678 commented on #23
👍  I think there might be some existing solutions out there that work well. They either could be used immediately or improved slightly to make it ready. A while back I had heard about a GPS collection app from [Novel-T](http://www.novel-t.ch/), one of the teams behind the [Vaccine Tracking System in Nigeria](http://vts.eocng.org/). This app passively collects PLUS stops collecting when it detects

[2017-02-07 13:22] bgirardot commented on #23
Thanks for the pointer nate. Being highly configurable and tunable to create good data the user wants and use as little power as possible is really core functionality of the software + handling the automated roll over and upload of the data.

GPL Logger for Android I believe is currently the most functional application I have seen in regard to configuration for trace collection and power use.

[2017-02-08 20:06] bgirardot opened #24 "MapHug: Call for Complete, High Quality map data for a limited area from the ground"
This would be a very simple application that gave people on the ground the option to request high quality OSM map data for very fix maximum area. I would say the village level should be the maximum (7km radius?).

Upon submission, a draft project could be created on the TM3 using the submitted Area of Interest (AoI) and added to a special project group or portfolio.

These "MapHug" requests can se

[2017-02-08 20:33] bgirardot commented on #24
![2017-02-08_15h33_10](https://cloud.githubusercontent.com/assets/265831/22756084/f96f8d9c-ee13-11e6-8320-846a8ec2c18a.png)

![2017-02-08_15h33_20](https://cloud.githubusercontent.com/assets/265831/22756087/fda45e4c-ee13-11e6-8ea8-8a64056268e8.png)

[2017-02-08 22:13] #9 closed

[2017-02-08 22:13] #6 closed

[2017-02-08 22:14] #3 closed

[2017-02-08 22:15] #2 closed

[2017-02-10 04:31] mataharimhairi opened #25 "HOT Mapping Project Reference Tool"
The idea of a HOT Reference Tool for future mapping projects with detailed guidance and SOPs

[2018-03-08 18:20] bgirardot opened #26 "GeoChat like system to see where remote mappers are mapping/validating"
Russ had an amazing idea: Inspired by josm geochat plug in that would let a mapping project manager see where a pre-set list of mappers and/or validators were mapping in OSM at any given point in time.

[2018-03-12 16:25] russdeffner opened #27 "Disaster Maps.me"
It would be handy if there was something like a custom Maps.me for navigation plus mobile data collection after a disaster. Some of our local OSM-ers are mapping their communities after an event and need something portable, not too intensive/zero set-up, focusing more on navigation than data collection but has the ability to do some basic stuff including updating road status and maybe damage asses

[2018-03-15 09:03] smit1678 commented on #27
Moved this issue to https://github.com/hotosm/tech/issues/109. Let's continue the discussion there.

[2018-03-15 09:04] smit1678 commented on #26
Moved this to https://github.com/hotosm/tech/issues/108. Let's continue the discussion there.